.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-style {
  background-color: cadetblue !important;
}

/* @media (min-width: 1080px) {
  .navbar-expand-lg {
    margin-right: -60px;

  }
} */

/* @media (min-width: 360px) {
  .navbar-expand-lg {
    margin-right: -150px;
  }
}

@media (min-width: 320px) {
  .navbar-expand-lg {
    margin-right: -155px;
  }
}

@media (min-width: 280px) {
  .navbar-expand-lg {
    margin-right: -153px;
  }
}
@media (min-width: 411px) {
  .navbar-expand-lg {
    margin-right: -155px;
  }
} */
.Nav-Link-a {
  color: whitesmoke;
}

.navbar-brand-a {
  color: yellow;
  font-family: "FontAwesome";
}

.app-container {
  padding: 50px 0px 10px 0px;

  background-image: url(images/110388-beige-and-turquoise-blurred-background-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

@media (min-width: 280px) {
  .container {
    width: 165% !important;
  }
}
/* @media (min-width: 280px) {
  .AppContainer {
    margin-right: 0px !important;
  }
} */

/* @media (min-width: 375px) {
  .AppContainer {
     margin-right: -80px !important;
  }
} */
/* @media (min-width: 360px) {
  .app-container {
    margin-right: -80px !important;
  }
} */

/* .list-group {
    flex-direction: row !important;
    margin-bottom: 20px !important;
  }
} */
/* @media (min-width: 1080px) {
  .list-group {
    flex-direction: column !important;
  }
} */

/* @media (min-width: 540px) {
  .list-group {
    flex-direction: row !important;
  }
} */
.btn-primary {
  border-color: #82878d;
  background-color: #28a745;
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

@media screen and (min-width: 768px) {
  .custom-collapse .collapse {
    display: block;
  }
}

table > tbody > tr > td > a {
  color: black !important;
}

.page-item.active .page-link {
  background-color: cadetblue !important;
  border-color: #b4b8bc !important;
}

.NewMovie {
  border-color: whitesmoke !important;
  background-color: #33846c !important;
  color: whitesmoke !important;
}

a:hover {
  color: rgba(246, 248, 255, 0.555) !important;
}

.bg-nav {
  background-color: #5b6f82 !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.navbar {
  padding: 1.5rem 1rem !important;
  display: grid !important;
  margin-bottom: 30px;
}

@media (min-width: 280px) {
  .navbar {
    width: 160%;
  }
}

@media(min-width:540px){
  .navbar{
    width: 165%;
  }
}
